<% content_for :scripts do %>
  <script type="text/javascript">
    $().ready(function() {

      $.validator.addMethod("customEmail",
          function(value, element) {
              return /^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test(value);
          },
          "Please enter a valid email address."
      );

      $("form").validate({
        rules: {
          "user[email]" : {
            required: true,
            customEmail: true
          },
          "user[role]": {
            required: true
          }
        },
        submitHandler: function(form) {
          form.submit();
        },
        errorPlacement: function(error, element) {
          switch (element.attr("name")) {
            case "user[role]":
              $(element).parents(".col-sm-10").append(error);
              break;
            default:
              error.insertAfter(element);
          }
        }
      });
    });
</script>
<% end %>
<% content_for :page_title do %>
  Invite User
<% end %>
<% if @user.errors.any? %>
  <div class="alert alert-warning">
    <% @user.errors.full_messages.each do |message| %>
    <p><%= message %></p>
    <% end %>
  </div>
<% end %>
<div class="card col-sm-7 col-lg-5">
  <div class="card-content">
    <%= simple_form_for @user, :html => { class: "form-horizontal"} do |f| %>
      <div class="form-group">
        <%= f.label :name, class: "col-sm-2 control-label", required:false %>
        <div class="col-sm-10">
          <%= f.input :name, label: false, required:false, :input_html => {class: "form-control"} %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :email, class: "col-sm-2 control-label", required:false %>
        <div class="col-sm-10">
          <%= f.input :email, label: false, :input_html => {class: "form-control"} %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">User Type</label>
        <div class="col-sm-10">
          <% User.roles.keys.each do |role| %>
            <% if role != "transcriptor" %>
              <div class="radio pt-0">
                <label class="pl-0">
                  <input class="radio_buttons optional form-control i-checks"
                  type="radio"
                  <%= 'checked' if role == "user" %>
                  value="<%= role %>"
                  name="user[role]"
                  id="user_role_<%= role %>">
                  <span style="font-weight:bold;"><%= I18n.t("activerecord.attributes.user.role.#{role}") %></span>
                  <p><%= role_description(role) %></p>
                </label>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Invite User", class: "btn btn-primary btn-fill btn-wd" %>
      </div>
    <% end %>
  </div>
</div>
