<% content_for :page_title do %>
  <div class="small-header">
      <div class="hpanel">
          <div class="panel-body">
              <div id="hbreadcrumb" class="pull-right">
                  <ol class="hbreadcrumb breadcrumb">
                      <li><%= link_to "Dashboard", root_path %></li>
                      <li>
                          <span>Users</span>
                      </li>
                      <li class="active">
                          <span>Profile</span>
                      </li>
                  </ol>
              </div>
              <h2 class="font-light m-b-xs">
                  Profile
              </h2>
              <small>Your personal information</small>
          </div>
      </div>
  </div>
<% end %>
<div class="row">
  <div class="col-lg-4">
    <div class="hpanel <%= "#{header_color(current_user)}" %> user-panel">
      <div class="panel-body">
        <span class="label label-<%= bootstrap_color(current_user) %> pull-right"><%= current_user.role.capitalize %></span>
        <%= image_tag current_user.avatar.url(:thumb),class: "img-circle" if current_user.avatar.exists? %>
        <% if !current_user.avatar.exists? %>
          <div class="img-circle m-b profile-empty-image">
            <%= current_user.name[0]%>
          </div>
        <% end %>
        <h3><%= current_user.name %></h3>
        <div class="text-muted font-bold m-b-xs"><%= current_user.email %></div>
      </div>
      <div class="panel-footer clearfix">
        <%= link_to edit_user_path(current_user), class: "btn btn-primary pull-right" do %>
          <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Editar
        <% end %>
      </div>
    <div>
  </div>
  <div class="col-lg-8"></div>
</div>
