<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#account-save-modal-button").click(function(e) {
        e.preventDefault();
        $.post("/accounts", {
            name: $("#account-name").val()
        }, function(result) {
          if (result.status == "ok") {
            $.get("/accounts",function(data) {
              $("#job_position_account_id").replaceOptions(data,"Select an account");
              $("#newAccount").modal('hide');
            });
            toastr.success(result.message);
          } else {
            toastr.error(result.message);
          }
        });
      });
      $("#next-section-2").click(function(e) {
        e.preventDefault();
        $('#wizardControl a[href="#step2"]').tab('show');
      });
      $("#next-section-3").click(function(e) {
        e.preventDefault();
        $('#wizardControl a[href="#step3"]').tab('show');
      });
      $("#previous-section-1").click(function(e) {
        e.preventDefault();
        $('#wizardControl a[href="#step1"]').tab('show');
      });
      $("#previous-section-2").click(function(e) {
        e.preventDefault();
        $('#wizardControl a[href="#step2"]').tab('show');
      });
    });
  </script>
<% end %>
<%= simple_form_for @job_position, :html => { class: "form-horizontal"} do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-lg-12">
      <div class="hpanel hblue">
        <div class="panel-body">
          <div class="text-center m-b-md" id="wizardControl">
              <a class="btn btn-primary" href="#step1" data-toggle="tab">Define Job Position</a>
              <a class="btn btn-default" href="#step2" data-toggle="tab">Interview Process / Stages</a>
              <a class="btn btn-default" href="#step3" data-toggle="tab">Questions for Interviewer</a>
          </div>
          <div class="tab-content">
            <div id="step1" class="p-m tab-pane active">
                <fieldset>
                  <legend>Basic Information</legend>
                  <div class="form-inline">
                    <div class="form-group col-sm-2">
                      <%= f.association :account, collection: Account.all, include_blank: "Select an account", label: false, input_html: {class: "form-control"} %>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newAccount">New</button>
                    </div>
                    <div class="form-group col-sm-3">
                      <%= f.input :title, label: false,placeholder: "Job Position Title", required:false, :input_html => {class: "form-control"} %>
                    </div>
                  </div>
                </fieldset>
                <br />
                <fieldset>
                  <legend>Mission Statement</legend>
                  <div class="form-group">
                    <%= f.text_area :mission_statement, label: false, placeholder: "Job position mission statement...", class: "form-control", rows: "5" %>
                  </div>
                </fieldset>
                <div class="text-center m-t-xs">
                  <a id="next-section-2" class="btn btn-primary next" href="#">Next</a>
                </div>
            </div>
            <div id="step2" class="p-m tab-pane">
                <div class="row">
                </div>
                <div class="text-center m-t-xs">
                    <a id="previous-section-1" class="btn btn-default prev" href="#">Previous</a>
                    <a id="next-section-3" class="btn btn-primary next" href="#">Next</a>
                </div>
            </div>
            <div id="step3" class="tab-pane">
                <div class="row">
                </div>
                <div class="text-center m-t-xs">
                    <a id="previous-section-2" class="btn btn-default prev" href="#">Previous</a>
                    <%= f.submit "Done", class: "btn btn-success submitWizard" %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<% content_for :modals do %>
  <div class="modal fade" id="newAccount" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="color-line"></div>
        <div class="modal-header text-center">
          <h4 class="modal-title">Create a new Account</h4>
        </div>
        <div class="modal-body">
          <div class="form-horizontal">
            <div class="form-group">
              <input type="text" id="account-name" value="" placeholder="Enter the new account name" class="form-control">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="account-save-modal-button">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
