<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "T3" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "T3" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= favicon_link_tag 'favicon-152.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="color-line"></div>
    <%= render "layouts/shared/application/header" %>
    <%= render "layouts/shared/application/menu" %>
    <div id="wrapper">
      <%= yield :page_title %>
      <div class="content">
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= yield :modals %>
    <%= yield :scripts %>
  </body>
</html>
