<nav class="navbar navbar-transparent navbar-absolute">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Sass Boilerplate", root_path, class: "navbar-brand" %>
    </div>
  </div>
</nav>
<div class="wrapper wrapper-full-page">
  <div class="full-page login-page">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
          <%= simple_form_for(@account, url: accounts_path) do |f| %>
          <div class="card" data-background="color" data-color="blue">
            <div class="card-header">
              <h3 class="card-title">Required Information</h3>
              <p>This is the first time you log in, so we need to you to complete
                this information to tailor your experience better.</p>
            </div>
            <%= f.error_notification %>
            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg,:class => "alert alert-danger", :id => "flash_#{name}" if msg.is_a?(String) %>
            <%end%>
            <div class="card-content">
              <div class="form-group">
                <%= f.label :name, "Organization name" %>
                <%= f.input_field :name, class: "form-control input-no-border" %>
              </div>
            </div>
            <div class="card-footer text-center">
              <%= f.submit "Let's do it!", :class => 'btn btn-fill btn-wd' %>
            </div>
          </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer footer-transparent">
      <div class="container">
        <div class="copyright">
          ©2017, made with <i class="fa fa-heart heart"></i> by Sass Boilerplate
        </div>
      </div>
    </footer>
    <div class="full-page-background"></div>
  </div>
</div>
